<h1>All Movies</h1>

<!--check_box-->
<%= form_tag movies_path, :method => :get do %>
  Include:
  <% @all_ratings.each do |rating| %>
    <%= rating %>
    <%= check_box_tag "ratings[#{rating}]", "1", ratings_params[rating]%>
  <% end %>
  <%= submit_tag 'Refresh' %>
<% end %>

<table id="movies">
  <thead>
    <tr>
      <th class="<%= 'highlight' if session[:sort_by] == 'title' %>">
        
        <%= sortable 'title', "Movie title" %>
      </th>
      <th>Rating</th>
      <th class="<%= 'highlight' if session[:sort_by] == 'release_date' %>">
        
        <%= sortable 'release_date', "Release date" %>
      </th>
      <th>More Info</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
  
    <% @movies.each do |movie| %>
    
      <%if movie.user_id == current_user.id%>
      <tr class="<%= 'mine' %>">
      <%else%>
      <tr class="<%= cycle('odd', 'even')%>">
      <%end%>
      
        <td><%= link_to "#{movie.title}", movie %><%= image_tag(movie.picture.thumb.url)%></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.description[0..20] %> <%= link_to "More..", movie_path(movie) %></td>
        <%if movie.published?%>
          <td>Published</td>
        <%else%>
          <td>Draft</td>
        <%end%>
      </tr>
      <%end%>
    
  </tbody>
</table>

<%= link_to 'Add new movie', new_movie_path %>

