<h1>All Movies</h1>

<table id="movies">
  <thead>
    <tr>
      <th><%= link_to "Movie Title", movies_path({:sort => "title"}) %></th>
      <th>Rating</th>
      <th><%= link_to "Release Date", movies_path({:sort => "release_date"}) %></th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "More about #{movie.title}", movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add new movie', new_movie_path %>

